{% extends 'dashboard/include/navbar.html' %}
{% block content %}
{% load static %}



<!-- start Page Title ---------------------------------------------------------------------->
<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
      <li class="breadcrumb-item active"><a href="#">Paid</a></li>
    </ol>
  </nav>
</div>
<!-- End Page Title --><div class="col-12">
    <div class="card top-selling overflow-auto">

        <div class="card-body pb-0">
            <h5 class="card-title">Paid List <span>| {{ filter_title }}</span></h5>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Preview</th>
                        <th scope="col"><a href="?sort=paid_product_name">Order Name</a></th>
                        <th scope="col"><a href="?sort=paid_product_quantity">Quantity</a></th>
                        <th scope="col"><a href="?sort=paid_product_price">Price</a></th>
                        <th scope="col"><a href="?sort=total_price">Total Price</a></th>
                        <th scope="col"><a href="?sort=paid_product_category">Category</a></th>
                        <th scope="col"><a href="?sort=farmer__username">Farmer</a></th>
                        <th scope="col"><a href="?sort=region">Farmer Region</a></th>
                        <th scope="col"><a href="?sort=zone">Farmer Zone</a></th>
                        <th scope="col"><a href="?sort=buyer__username">Buyer</a></th>
                        <th scope="col"><a href="?sort=region">Buyer Region</a></th>
                        <th scope="col"><a href="?sort=zone">Buyer Zone</a></th>
                        <th scope="col"><a href="?sort=created_at">Created At</a></th>
                        <th scope="col"><a href="?sort=transaction_reference">Transaction Reference</a></th>
                        <th scope="col"><a href="?sort=payment_status">Payment Status</a></th>
                        <th scope="col">Edit</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for paid in paids %}
                    <tr>
                        <th scope="row">
                            {% if paid.paid_product_image %}
                                <a href="#"><img src="{{ paid.paid_product_image.url }}" alt="{{ paid.paid_product_name }}" style="max-width: 50px; max-height: 50px;"></a>
                            {% else %}
                                <a href="#"><img src="https://via.placeholder.com/50" alt="Placeholder" style="max-width: 50px; max-height: 50px;"></a>
                            {% endif %}
                        </th>
                        <td>{{ paid.paid_product_name }}</td>
                        <td>{{ paid.paid_product_quantity }}</td>
                        <td>${{ paid.paid_product_price }}</td>
                        <td>${{ paid.total_price }}</td>
                        <td>{{ paid.paid_product_category }}</td>
                        <td>{{ paid.farmer.username }}</td>
                        <td>{{ paid.farmer.region }}</td>
                        <td>{{ paid.farmer.zone }}</td>
                        <td>{{ paid.buyer.username }}</td>
                        <td>{{ paid.buyer.region }}</td>
                        <td>{{ paid.buyer.zone }}</td>
                        <td>{{ paid.created_at|date:"Y-m-d H:i:s" }}</td>
                        <td>{{paid.transaction_reference}}</td>
                        <td>
                            {% if paid.payment_status == "success" %}
                               <span class="text-success">✅ Paid</span>
                            {% elif paid.payment_status == "pending" %}
                               <span class="text-warning">⏳ Pending</span>
                            {% else %}
                               <span class="text-danger">❌ Not Paid</span>
                            {% endif %}
                         </td>
                         <td>
                            <a href="{% url 'edit_paid' paid.id %}" class="btn btn-sm btn-primary">Edit</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">No paids found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>



</main>


<!-- ======= Footer =============================================================================== -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Agri Connect</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
      Designed by <a href="#">Kaleb</a>
  </div>
</footer>
<!-- End Footer ===================================================================================-->
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock %}