{% extends 'dashboard/include/navbar.html' %}
{% block content %}
{% load static %}

<!-- start Page Title ---------------------------------------------------------------------->
<div class="pagetitle">
  <h1>Product List</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
      <li class="breadcrumb-item active"><a href="#">Products</a></li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->


<div class="col-12">
    <div class="card top-selling overflow-auto">

        <div class="card-body pb-0">
            <h5 class="card-title">Product List <span>| {{ filter_title }}</span></h5>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Preview</th>
                        <th scope="col"><a href="?sort=product_name">Product Name</a></th>
                        <th scope="col"><a href="">Product ID</a></th>
                        <th scope="col"><a href="?sort=product_quantity">Quantity</a></th>
                        <th scope="col"><a href="?sort=product_price">Price</a></th>
                        <th scope="col"><a href="?sort=product_category">Category</a></th>
                        <th scope="col"><a href="?sort=farmer__username">Farmer</a></th>
                        <th scope="col"><a href="#">Region</a></th>
                        <th scope="col"><a href="#">City</a></th>
                        <th scope="col"><a href="?sort=created_at">Created At</a></th>
                        <th scope="col">Edit</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <th scope="row">
                            {% if product.product_image %}
                                <a href="#"><img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" style="max-width: 50px; max-height: 50px;"></a>
                            {% else %}
                                <a href="#"><img src="https://via.placeholder.com/50" alt="Placeholder" style="max-width: 50px; max-height: 50px;"></a>
                            {% endif %}
                        </th>
                        <td><a href="{% url 'product_detail' product.id %}" class="text-primary fw-bold">{{ product.product_name }}</a></td>
                        <td style="max-width: 90px;">{{ product.product_id }}</td>
                        <td>{{ product.product_quantity }}</td>
                        <td>${{ product.product_price }}</td>
                        <td>{{ product.product_category }}</td>
                        <td>{{ product.farmer.username }}</td>
                        <td>{{ product.farmer.region }}</td>
                        <td>{{ product.farmer.zone }}</td>
                        <td>{{ product.created_at|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-primary">Edit</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No products found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>

</main>


<!-- ======= Footer =============================================================================== -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Agri Connect</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
      Designed by <a href="#">Kaleb</a>
  </div>
</footer>
<!-- End Footer ===================================================================================-->
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock %}